<div *ngIf="courses.length > 0;then coursesPresent else noCourses"></div> 
<ng-template #coursesPresent>
        List of Courses Found 
</ng-template>
<ng-template #noCourses>
        No Courses Foundsss !! 
</ng-template>
<br/>
Name of Assignee : 
<span>{{task.assignee?.name}} </span> <!-- safe null check of assignee object -->

<form> <!-- #f="ngForm" (ngSubmit)="submit(f)"-->
    <div class="form-group">
            <label for="firstName">FirstName</label> 
            <input ngModel name="firstName"
                   minlength="2"
                   maxlength="25"
                   required=true
                   id="firstName" 
                   type="text" 
                   class="form-control"/>
         
                   <div class = "alert alert-danger" *ngIf="firstName.touched && !firstName.valid">FirstName is Required!!</div>
                   <div *ngIf="firstName.errors.required">FirstName is Required !!</div>
                   <div *ngIf="firstName.errors.minlength">Min  length !!</div>
                   <div *ngIf="firstName.errors.maxlength"> Max length !!</div>
                    
    </div>

    <div class="form-group">
            <label for="address">Address</label> 
            <input ngModel name="address"
                   id="address" 
                   type="text" 
                   class="form-control"/>
    </div>
    <!-- <div class="form-group">
        <label for="comments">Comments</label>    
        <input    
                    id="comments" 
                    type="textarea"
                
                    cols="300", 
                    rows="100" 
                    class="form-control"/>
    </div> -->
    
    <button class="btn btn-primary">Submit</button>
   
       

</form>
