
Debug person object:
<span>{{person | json}} </span> 
<br />
<br />

<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
            <label for="firstName">FirstName</label>
            <input name="firstName"
                   #firstName="ngModel"
                   class="form-control"
                   [(ngModel)]="person.firstName"
                   [ngClass]="{ 'is-invalid': f.submitted && person.firstName.invalid }"
                   minlength="2"
                   maxlength="5"
                   required
                   type="text" />

        <div class = "alert alert-danger" *ngIf="person.firstName">
                <div *ngIf="firstName.errors?.required">person.firstName is Required !!</div>
                <div *ngIf="firstName.errors?.minlength">Min length !!</div>
                <div *ngIf="firstName.errors?.maxlength">Max length !!</div>
        </div>
    </div>

    <div class="form-group">
            <label for="address">Surname</label> 
            <input name="surname"
                #surname="ngModel"
                class="form-control"
                [(ngModel)]="person.surname"
                [ngClass]="{ 'is-invalid': f.submitted && person.surname.invalid }"
                minlength="2"
                maxlength="5"
                required
                type="text"
                class="form-control"/>
    </div>
    <button class="btn btn-primary">Submit</button>

</form>
